<!DOCTYPE html>
<html lang="fr">
<head>
	<title>{% block title %}Romain C. - Développeur Web{% endblock %}</title>
	<meta charset="UTF-8">
	<link href="{{ asset('css/style.css') }}" rel="stylesheet">
	{% block stylesheets %}{% endblock %}
</head>
<body>
	<div class="content">
		<header>
			<h2>Romain Cosson</h2>
			<h1>Développeur Web - PHP / Javascript</h1>
		</header>
		<nav>
			<ul>
				<li><a href="{{ path('homepage') }}">Accueil</a></li>
				<li><a href="{{ path('about') }}">A propos</a></li>
				<li><a href="{{ path('contact') }}">Contact</a></li>
			</ul>
		</nav>
	</div>
	{% block body %}{% endblock %}
	<footer>

	</footer>
    {% block javascripts %}{% endblock %}
</body>
</html>