{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block body %}
	<div class="homepage-button-ctn">
		<div class="homepage-button"><a href="pdf/CV-romain-cosson.pdf" target="_blank">Téléchargez mon CV</a><p></p></div>
		<div class="homepage-button"><a href="">Contactez-moi</a><p></p></div>
	</div>
{% endblock %}

{% block javascripts %}{% endblock %}