{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block body %}
	<div class="homepage-button-ctn">
		<div class="homepage-button"><p>Téléchargez mon CV</p></div>
		<div class="homepage-button"><p>Contactez-moi</p></div>
	</div>
{% endblock %}

{% block javascripts %}{% endblock %}